header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-bar {
  margin-bottom: 1em;
}

main.container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.submission-list {
  list-style: none;
  align-items: stretch;
  margin: 0;
  text-align: start;
}

.submission > .upvote-arrow {
  font-size: 2rem;
}

.submission-title {
  font-size: 2rem;
}

.submission-details {
  font-size: 1rem;
  color: #777;
}

.submission-details a {
  color: #777;
}

.submission-details a:hover {
  text-decoration: underline;
}


.comment-thread {
  display: flex;
}

.comment-text {
  display: flex;
  word-wrap: normal;
}
